<section class="modal">
  <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <h2 *ngIf="!itemId">Add Cart Item</h2>
    <h2 *ngIf="itemId">Edit Cart Item</h2>
    <label for="product">Product
      <input type="text" name="product" id="product" [ngModel]="formItem.product">
    </label>
    <label for="price">Price
      <input type="text" name="price" id="price" [ngModel]="formItem.price">
    </label>
    <label for="quantity">Quantity
      <input type="text" name="quantity" id="quantity" [ngModel]="formItem.quantity">
    </label>
    <button type="submit" *ngIf="!itemId">Add Item</button>
    <button type="submit" *ngIf="itemId">Submit Changes</button>
    <button type="button" (click)=cancel()>Cancel</button>
  </form>
</section>